.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;
    background-color: #f5f5f5;
  }
  
  .logo {
    height: 50px;
  }
  
  .shoppingBag {
    display: flex;
    color: rgba(39, 38, 38, 0.895);
    align-items: center;
  }

  .shoppingBag:hover {
    cursor: pointer;
  }
  
  .shoppingBag img {
    height: 30px;
    margin-right: 10px;
  }
  
  .shoppingBag span {
    font-size: 14px;
  }